/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Step
1. Tu ngoai vao trong
2. Tu tren xuong duoi 
3. Tu tong quan den chi tiet

1. Position
2. Size (width, height)
3. Color
4. Design
*/

#main   {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.4px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.4px;
    padding: 0px 24px; 
    display: inline-block;
}

#nav > li:hover > a, 
#nav .subnav > li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .arrow-down-icon {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0px 22px;
}

#header .search-btn .search-icon {
    color: #fff;
    font-size: 18px;
    line-height:46.4px;

}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top:46.4px;
    padding-top: 50%;
    background: url('/assets/img/slider/three-people.jpg') top center / cover no-repeat; 

}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    width: 100%;
    /* left: 50%; Cach 1 nhung can phai xem lai
    transform: translateX(-50%);  Xem lai phan can giua */
    text-align: center;
    
}

#slider .text-heading {
    font-weight: 1.2;
    font-size: 25px;
}

#slider .text-description {
    font-size: 15px;
    font-weight:700;
    padding-top:25px;
}

#content {
    height:1000px;
    background-color: #ccc;
}

#footer {

}
